.wrapper{
    position: absolute;
    width: 100%;
    height: 390%;
}

.accordion{
    position: relative;
    top: 174px;
    right: 10px;
    border: solid #00000000 2px;
}

.text1{
    position: relative;
    top: 174px;
}

#text-ods{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.text2{
    position: relative;
    top: 500px;
}

.text3{
    position: relative;
    top: 700px;
}

.carousel{
    top: 250px;
}

.img-ods{
    position: relative;
    top: 1100px;
}

.text4{
    position: relative;
}

#img-carousel{
    max-width: 1280px;
    min-width: 1280px;
    max-height: 720px;
    min-height: 720px;
}

html {
    height: 340%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

footer {
    position: absolute;
    width: 100%;
    top: 133%;
}

.i{
    border-radius: 50%;

}

.icons{
    border-radius: 50%;
}

#img-github{
    max-width: 30px;
}